<!--QUEM SOMOS?-->
<div class="card text-dark">
    <img class="card-img" src="https://cdn.discordapp.com/attachments/914139131234353222/914496213376716810/Banner1.png" alt="Imagem do card">
    <div class="card-img-overlay">
      <div class="row">
        <div class="col-6 mt-5 margin-text-quem">
            <h5 class="card-title">QUEM SOMOS?</h5>
            <p class="card-text">Somos uma startup que busca fazer uma conexão de pessoas e lugares. Criamos um meio de fazer com que as pessoas se sintam mais seguras e recebidas nos lugares que frequentam. Aqui damos a voz ao público para falarem como se sentem nos lugares que frequentam, avaliando e opinando sobre os lugares que frequentou. Incluindo assim um público diverso, como mulheres, LGBTQIA+, negros e pessoas com deficiencia. O nosso site abrange restaurantes, bares, parques,  supermercados, lojas, shopping, baladas e etc.</p>
        </div>
      </div>
    </div>
</div>

<!--MISSÃO-->

  <div class="card text-dark text-right">
    <img class="card-img" src="https://cdn.discordapp.com/attachments/914139131234353222/914496213578047508/Banner2.png" alt="Imagem do card">
    <div class="card-img-overlay">
      <div class="row d-flex justify-content-end">
        <div class="col-md-6 mt-5">
            <h5 class="card-title">MISSÃO</h5>
            <p class="card-text">Nossa startup tem o objetivo de tornar a vida das pessoas mais acessível e tranquila. Por meio das avaliações e opiniões das pessoas as empresas podem moldar o seu negócio para tornar a vida de seus clientes mais agradável abraçando a diversidade. Colocamos nossa missão em prática ouvindo e respeitando as pessoas. E alertando e ajudando empresas que têm o mesmo objetivo de abraçar pessoas. Queremos que todos tenham experiências e possam ser você em lugares diversos.</p>
        </div>
      </div>
      </div>
  </div>

  <!--VISÃO-->
  <div class="card text-dark">
    <img class="card-img" src="https://cdn.discordapp.com/attachments/914139131234353222/914496214064574474/Banner3.png" alt="Imagem do card">
    <div class="card-img-overlay">
      <div class="row">
        <div class="col-5 mt-5 margin-text-quem">
            <h5 class="card-title">VISÃO</h5>
            <p class="card-text">A nossa responsabilidade da #VOULA é trabalhar a diversidade de pessoas em lugares. No Brasil sabemos que existe muito preconceito ou o lugar simplesmente não é acessível para muitas pessoas. Almejamos no futuro todos os lugares serem acessíveis abraçando um público mais diverso. </p>
        </div>
      </div>
    </div>
  </div>

  



