<div class="card text-dark">
    <img class="card-img" src="https://cdn.discordapp.com/attachments/914139131234353222/914496213376716810/Banner1.png" alt="Imagem do card">
    <div class="card-img-overlay">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
    </div>
  </div>

  <div class="card text-dark text-right">
    <img class="card-img" src="https://cdn.discordapp.com/attachments/914139131234353222/914496213578047508/Banner2.png" alt="Imagem do card">
    <div class="card-img-overlay">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
      </div>
  </div>

  <div class="card text-dark">
    <img class="card-img" src="https://cdn.discordapp.com/attachments/914139131234353222/914496214064574474/Banner3.png" alt="Imagem do card">
    <div class="card-img-overlay">
      <h5 class="card-title">Título do card</h5>
      <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
    </div>
  </div>

  



