
<app-menu></app-menu>
<div class="container-fluid bg-img">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center txt-p text-light">Fazer uma avaliação?</h1>
        </div>
</div>
</div>
<div class="container-fluid">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-md-4">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="+ Pesquisar" aria-label="Pesquisar">               
              </form>
        </div>
    </div>
</div>


<div class="container-md ">

<!--AVALIAÇÃO 1-->
    <div id="carouselExampleControls" class="carousel slide mt-4 mb-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex position-relative">
                <img src="https://i.imgur.com/91mHRfn.png" class="flex-shrink-0 me-3 img-lugar" alt="...">
                
                <div>
                  <h5 class="mt-0">Balada Paulista</h5>
                  <div>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                </div>
                  <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                  <a href="#" class="stretched-link button-lgbt">LGBTQIA+</a>
                  <a href="#" class="stretched-link button-corrimao mt-3">CORRIMÃO</a>
                  <a href="#" class="stretched-link button-acessibilidade">ACESSIBILIDADE</a>
                  <a href="#" class="stretched-link button-etnia">ETNIA</a>
                </div>
              </div>
          </div>
        </div>      
    </div>

<!--AVALIAÇÃO 2-->
    <div id="carouselExampleControls" class="carousel slide mt-4 mb-3" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex position-relative">
                <img src="https://i.imgur.com/TlI3iqN.png" class="flex-shrink-0 me-3 img-lugar" alt="...">
                
                <div>
                  <h5 class="mt-0">Ginastica Delas</h5>
                  <div>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                </div>
                  <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                  <a href="#" class="stretched-link button-lgbt">LGBTQIA+</a>
                  <a href="#" class="stretched-link button-corrimao mt-3">CORRIMÃO</a>
                  <a href="#" class="stretched-link button-acessibilidade">ACESSIBILIDADE</a>
                  <a href="#" class="stretched-link button-etnia">ETNIA</a>
                </div>
              </div>
          </div>
        </div>      
    </div>

<!--AVALIAÇÃO 3-->
<div id="carouselExampleControls" class="carousel slide mt-4 mb-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex position-relative">
            <img src="https://i.imgur.com/wEmkjvi.png" class="flex-shrink-0 me-3 img-lugar" alt="...">
            
            <div>
              <h5 class="mt-0">Restaurante Espetinho Bom</h5>
              <div>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
            </div>
              <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
              <a href="#" class="stretched-link button-lgbt">LGBTQIA+</a>
              <a href="#" class="stretched-link button-corrimao mt-3">CORRIMÃO</a>
              <a href="#" class="stretched-link button-acessibilidade">ACESSIBILIDADE</a>
              <a href="#" class="stretched-link button-etnia">ETNIA</a>
            </div>
          </div>
      </div>
    </div>      
</div>

<!--AVALIAÇÃO 4-->
<div id="carouselExampleControls" class="carousel slide mt-4 mb-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex position-relative">
            <img src="https://i.imgur.com/wvepq4D.png" class="flex-shrink-0 me-3 img-lugar" alt="...">
            
            <div>
              <h5 class="mt-0">Casa Sampa</h5>
              <div>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
            </div>
              <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
              <a href="#" class="stretched-link button-lgbt">LGBTQIA+</a>
              <a href="#" class="stretched-link button-corrimao mt-3">CORRIMÃO</a>
              <a href="#" class="stretched-link button-acessibilidade">ACESSIBILIDADE</a>
              <a href="#" class="stretched-link button-etnia">ETNIA</a>
            </div>
          </div>
      </div>
    </div>      
</div>

<!--AVALIAÇÃO 5-->
<div id="carouselExampleControls" class="carousel slide mt-4 mb-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex position-relative">
            <img src="https://i.imgur.com/5fBsQGN.png" class="flex-shrink-0 me-3 img-lugar" alt="...">
            
            <div>
              <h5 class="mt-0">Araras Bontolino</h5>
              <div>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                  <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
            </div>
              <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
              <a href="#" class="stretched-link button-lgbt">LGBTQIA+</a>
              <a href="#" class="stretched-link button-corrimao">CORRIMÃO</a>
              <a href="#" class="stretched-link button-acessibilidade">ACESSIBILIDADE</a>
              <a href="#" class="stretched-link button-etnia">ETNIA</a>
            </div>
          </div>
      </div>
    </div>      
</div>
</div>

