<div class="container-fluid bg-img">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center txt-p text-light">Fazer uma avaliação?</h1>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <button type="button" class="btn button-criar mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">+ CRIAR</button>

      <div class="modal fade" id="exampleModal" tabindex="-1"                aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">BAR DO COPÃO</h5>  
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>  
            </div>
<!--ESTRELAS-->
      <div class="star">
        <img src="https://i.imgur.com/0NDKTxO.png" class="img-icone ml-3 mt-3" alt="">
        <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
        <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
        <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
        <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
        <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
    </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Escrever Avaliação:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>

<!--ETIQUETAS DIVERSIDADE-->
          <div>
            <a href="#" class="stretched-link button-lgbt mt-3">LGBTQIA+</a>
            <a href="#" class="stretched-link button-acessibilidade mt-3">ACESSIBILIDADE</a>
            <a href="#" class="stretched-link button-etnia mt-3">ETNIA</a>
            <a href="#" class="stretched-link button-corrimao mt-3">CORRIMÃO</a>
            <a href="#" class="stretched-link button-rampa mt-3">RAMPA DE ACESSO</a>
            <a href="#" class="stretched-link button-elevador mt-3">ELEVADOR</a>
            <a href="#" class="stretched-link button-visual mt-3">VISUAL</a>
            <a href="#" class="stretched-link button-cognitivo mt-3">COGNITIVO</a>
          </div>
        </form>
      </div>
<!--BOTÕES SAIR E POSTAR-->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
        <button type="button" class="btn button-postar">Postar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<!--CARROSSEL-->
<div class="container-md mt-4 mb-3">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

<!--SLIDE1-->
          <div class="carousel-item active">
            <div class="d-flex position-relative">
                <img src="https://i.imgur.com/c2EexX0.png" class="flex-shrink-0 me-3 img-lugar" alt="...">
                
                <div>
                  <h5 class="mt-0">Bar do Copão</h5>
                  <div>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                </div>
                  <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                  <a href="#" class="stretched-link button-lgbt">LGBTQIA+</a>
                  <a href="#" class="stretched-link button-corrimao mt-3">CORRIMÃO</a>
                  <a href="#" class="stretched-link button-acessibilidade">ACESSIBILIDADE</a>
                  <a href="#" class="stretched-link button-etnia">ETNIA</a>
                </div>
              </div>
          </div>

<!--SLIDE2-->
          <div class="carousel-item">
            <div class="d-flex position-relative">
                <img src="https://i.imgur.com/TqVjDCN.png" class="flex-shrink-0 me-3 img-lugar" alt="...">
                
                <div>
                  <h5 class="mt-0">Gruta do Bem Vorado</h5>
                  <div>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                </div>
                  <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                  <a href="#" class="stretched-link button-lgbt">LGBTQIA+</a>
                  <a href="#" class="stretched-link button-acessibilidade">ACESSIBILIDADE</a>
                  <a href="#" class="stretched-link button-etnia">ETNIA</a>
                </div>
              </div>
          </div>
          
<!--SLIDE3-->
          <div class="carousel-item">
            <div class="d-flex position-relative">
                <img src="https://i.imgur.com/RWsTDdI.png" class="flex-shrink-0 me-3 img-lugar" alt="...">
                
                <div>
                  <h5 class="mt-0">Bar da Volta Paulista</h5>
                  <div>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                      <img src="https://img.icons8.com/ios-glyphs/30/000000/star--v1.png" class="icone-star"/>
                </div>
                  <p>This is some placeholder content for the custom component. It is intended to mimic what some real-world content would look like, and we're using it here to give the component a bit of body and size.</p>
                  <a href="#" class="stretched-link button-lgbt">LGBTQIA+</a>
                  <a href="#" class="stretched-link button-acessibilidade">ACESSIBILIDADE</a>
                  <a href="#" class="stretched-link button-cognitivo mt-3">COGNITIVO</a>
                  <a href="#" class="stretched-link button-etnia">ETNIA</a>
                  <a href="#" class="stretched-link button-rampa mt-3">RAMPA DE ACESSO</a>
                </div>
              </div>
          </div>
        </div>

<!--BOTÃO DO BOOTSTRAP-->
<!--
    <div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
</div>
-->
      
    </div>
</div>




 

